priority -40

###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

#! header
snippet sb "Shebang header for python scripts" b
#!/usr/bin/env python
# encoding: utf-8
$0
endsnippet

